<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 社保-->
    <add key="Social_Insurance" value="http://e.szsi.gov.cn/siservice/" />
    <add key="Social_Insurance_Identity_Card" value="440301198905223497" />
    <add key="Social_Insurance_Password" value="82405458lL" />
    <add key="Social_Insurance_Enable" value="true" />
    <!-- 住房公积金-->
    <add key="Housing_Fund" value="http://www.szzfgjj.com/zhcx/index.htm" />
    <add key="Housing_Fund_Account" value="20488651175" />
    <add key="Housing_Fund_Enable" value="true" />
    <!-- 平安保险-->
    <add key="PingAn_Insurance" value="https://www.pingan.com.cn/pinganone/pa/index.screen" />
    <add key="PingAn_Insurance_Account" value="440301198905223497 " />
    <add key="PingAn_Insurance_Password" value="82405458lu" />
  </appSettings>
</configuration>